<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>My ToDo List</title>
</head>
<body>
    <h1 align="center">Scope</h1>
    <table align="center">
        <tr><td><a href="/new"> Add task</a></td>
        <tr><td><a href="/view"> View task</a></td></tr>
        <tr><td><a href="/delete"> Remove task</a></td></tr>
    </table>
</body>
</html>