<html>
<head>
  <meta charset="UTF-8"/>
  <title>My ToDo List</title>
</head>
<body>
<h1 align="center">Add New Task</h1>
<form method="post" action="/create">
  <table align="center">
    <tr>
      <td><label for="content">Content:</label></td>
      <td><input type="text" name="content"></td>
    </tr>
    <tr>
      <td><input type="submit"></td>
    </tr>
  </table>
</form>
<h4 align="center"><a href="/">Back to Home!</a></h4>
</body>
</html>