<html>
<head>
  <meta charset="UTF-8"/>
  <title>My ToDo List</title>
</head>
<body>
  <h1 align="center">My Task</h1>
  <table align="center" border="1">
    <% @works.each do |work,| %>
    <tr>
      <th><h4 align="left"> <%= work.content %> </h4></th>
      <th><h4 align="right"><a href="/delete/<%= work.id %>"> удалить </a></h4></th>
    </tr>
    <% end %>
  </table>
<h4 align="center"><a href="/">Back to Home!</a></h4>
</body>
</html>